<!DOCTYPE html>
<html lang="en">
<head>
    <title>Database Cleared</title>
</head>
<body>
<h1>Database Cleared</h1>
<img src="https://lh3.googleusercontent.com/proxy/N61Y7rsaDrjWJQCDrBRXaDtFRd-EY3KBUIgLSDNa1tx5eydBuJtz_nLNyUb95UkTWcrXhnDhFo4CnncmgZAJu35sKc5lRsy51fIWE3UAmWXm8Mif7S2mqbeJzBx8lpALAs2egbYZXAHvC7UkCIg">
<hr>
<a href="/">HOME</a>
</body>
</html>
