<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find your Location</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form action="/showData" method="post">
        <h1> Find your location on Google Maps</h1>
        <fieldset>
            <label>Your Name<input type="text" name="name"></label><br><br>
            <hr>
            <label>Your IP Address<input type="text" name="ip"></label><br><br>
        </fieldset><br>
        <input type="reset">
        <input type="submit" value="Find Me">
    </form>
    <hr>
    <a href="/">HOME</a> 
</body>
</html>
