<!DOCTYPE html>
<html lang="en">
<head>
    <title>Location Found</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Location Found (<%- map %>)</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>IP Address: </strong><%- ip %><br>
        <strong>Country: </strong><%- country %><br>
        <hr>
        <a href="/">HOME</a>


	</div>
</body>
</html>
